{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		<li><a href={{ '../../admin_view/#info'}}>مشخصات</a></li>
		<li><a href="{{ '../../admin_view/#money'}}">گزارش وجوه پرداختی</a></li>
		<li class="active"><a href={{ '../../admin_view/#confirmed_needfuls'}} > نیازمندان تایید شده <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </a></li>
		<li><a href={{ '../../admin_view/#other_needfuls'}}>نیازمندان تایید نشده</a></li>
		<li><a href={{ '../../admin_view/#helpers'}}>مددکاران</a></li>
		<li><a href={{ '../../admin_view/#register'}}>ثبت‌نام کاربر جدید</a></li>
		<li><a class="text-danger" href={{ '../../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="yourNeedfuls">
		<br>
			<h1> نیازمندان تایید شده <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </h1>
			<div class="col-sm-7">
				<h3> نیازها </h3><br>
				<ul class="list-group" id="needs">
					{% if needs %}
					{% for need in needs %}
						<li class="list-group-item">
							<div class="col-sm-7">{{ need.desc }}</div>
							<div class="col-sm-2">{{ need.value }}</div>
							<div class="col-sm-1">
								{% if need.is_urgent %} <span class="glyphicon glyphicon-alert"></span>
								{% endif %}
							</div>
							<div class="col-sm-2">
								{% if need.done %} <span class="glyphicon glyphicon-ok"></span>
								{% else %}
								<div class="form-group">
									<form  action="{% url 'pay_need_admin' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="id" value={{ need.id }}>
										<button type="submit" class="btn btn-xs btn-default">پرداخت</button>
									</form>
								</div>
								{% endif %}
							</div>
						<br>
						</li>

					{% endfor %}
					{% else %}
						<div class="alert alert-warning">
							<strong>برای این نیازمند نیازی ثبت نشده است.</strong>
						</div>
					{% endif %}
					<br>
				</ul>
				{% if pay_failed %}
                    <div class="alert alert-danger">
                        <strong>خطا!</strong> موجودی سامانه برای پرداخت این نیاز کافی نیست.
                    </div>
                {% endif %}
                {% if pay_success %}
                    <div class="alert alert-success">
                        <strong>پزداخت نیاز با موفقیت انجام شد.</strong>
                    </div>
                {% endif %}
			</div>
			<div class="col-sm-7">
				<h3> موفقیت‌ها </h3><br>
				<div class="form-group">
					<ul class="list-group" id="success">
						{% if achievements %}
						{% for ach in achievements %}
							<li class="list-group-item">{{ ach.desc }}</li>
						{% endfor %}
						{% else %}
							<div class="alert alert-warning">
								<strong>برای این نیازمند موفقیتی ثبت نشده است.</strong>
							</div>
						{% endif %}
						<br>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}