{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		{% if not confirmed_needfuls_active and not other_needfuls_active and not helpers_active and not register_active and not confirm_change_active %}
			<li class="active"><a href="#info" role="tab" data-toggle="tab">خانه</a></li>
		{% else %}
			<li><a href="#info" role="tab" data-toggle="tab">خانه</a></li>
		{% endif %}
		<li><a href="#money" role="tab" data-toggle="tab">گزارش وجوه پرداختی</a></li>
		{% if confirmed_needfuls_active %}
			<li class="active"><a href="#confirmed_needfuls" role="tab" data-toggle="tab"> نیازمندان تایید شده</a></li>
		{% else %}
			<li><a href="#confirmed_needfuls" role="tab" data-toggle="tab"> نیازمندان تایید شده</a></li>
		{% endif %}
		{% if other_needfuls_active %}
			<li class="active"><a href="#other_needfuls" role="tab" data-toggle="tab">نیازمندان تایید نشده</a></li>
		{% else %}
			<li><a href="#other_needfuls" role="tab" data-toggle="tab">نیازمندان تایید نشده</a></li>
		{% endif %}
		{% if helpers_active %}
			<li class="active"><a href="#helpers" role="tab" data-toggle="tab"> مددکاران</a></li>
		{% else %}
			<li><a href="#helpers" role="tab" data-toggle="tab"> مددکاران</a></li>
		{% endif %}
		{% if register_active %}
			<li class="active"><a href="#register" role="tab" data-toggle="tab">ثبت‌نام کاربر جدید</a></li>
		{% else %}
			<li><a href="#register" role="tab" data-toggle="tab"> ثبت‌نام کاربر جدید</a></li>
		{% endif %}
		{% if confirm_change_active %}
			<li class="active"><a href="#confirm_change" role="tab" data-toggle="tab">تایید درخواست‌های تغییر مشخصات</a></li>
		{% else %}
			<li><a href="#confirm_change" role="tab" data-toggle="tab"> تایید درخواست‌های تغییر مشخصات</a></li>
		{% endif %}
		<li><a class="text-danger" href={{ '../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		{% if not confirmed_needfuls_active and not other_needfuls_active and not helpers_active and not register_active and not confirm_change_active%}
			<div role="tabpanel" class="tab-pane active" id="info">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="info">
		{% endif %}
			<div class="well">
				<h4> موجودی سامانه: {{ credit }}</h4>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="money">
			<h1>گزارش وجوه پرداختی </h1><br>
			{% if donations %}
				<div class="table-responsive" style="height: 400px; overflow: scroll; overflow-x: hidden">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>مقدار</th>
								<th>نام همیار</th>
								<th>تاریخ</th>
								<th>زمان</th>
							</tr>
						</thead>
						<tbody>
						{% for donation in donations %}
							<tr>
								<td >{{ donation.value }}</td>
								<td >{{ donation.donor.profile.user.username }}</td>
								<td >{{ donation.date|date }}</td>
								<td >{{ donation.date|time }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div class="alert alert-warning">
					<strong>پرداختی به سامانه انجام نشده است.</strong>
				</div>
			{% endif %}
		</div>
		{% if confirmed_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="confirmed_needfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="confirmed_needfuls">
		{% endif %}
			<h1>نیازمندان تایید شده</h1>
			<div class="col-sm-7">
					<br>
				{% if confirmed_needfuls %}
					<ul class="list-group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for needful in confirmed_needfuls %}
						<a href="../admin_needful_info/{{needful.id}}/" >
							<li class="list-group-item">
								<div class="col-sm-8">{{ needful.profile.user.username }} </div>
								<div class="col-sm-4">
									{% if needful.monthly_paid %}
									<span class="col-sm-3 glyphicon glyphicon-ok"></span>
									<div class="col-sm-9 form-group">
										<form action="{% url 'deactive_monthly_pay' %}" method="post">
											{% csrf_token %}
											<input type="hidden" name="id" value={{ needful.id }}>
											<button type="submit" class="btn btn-xs btn-default">غیر فعال کردن پرداخت ماهیانه</button>
										</form>
									</div>
									{% else %}
									<span class="col-sm-3 glyphicon glyphicon-remove"></span>
									<div class="col-sm-9 form-group">
										<form action="{% url 'active_monthly_pay' %}" method="post">
											{% csrf_token %}
											<input type="hidden" name="id" value={{ needful.id }}>
											<button type="submit" class="btn btn-xs btn-default">فعال کردن پرداخت ماهیانه</button>
										</form>
									</div>
									{% endif %}
								</div>
								<br>
							</li>
						</a>
						{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-warning">
						<strong>نیازمند تایید شده‌ای در سانامه وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
		{% if other_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="other_needfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="other_needfuls">
		{% endif %}
			<h1>نیازمندان تایید نشده</h1>
			<div class="col-sm-7">
				<br>
				{% if other_needfuls %}
					<ul class="list-group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for needful in other_needfuls %}
							<li class="list-group-item">
								<div class="col-sm-9"> {{ needful.profile.user.username }} </div>
								<div class="col-sm-3 form-group">
									<form action="{% url 'admin_needful_confirm' %}" method="post">
										{% csrf_token %}
											<input type="hidden" name="id" value={{ needful.id }}>
											<button type="submit" class="btn btn-xs btn-default">تایید نیازمند</button>
									</form>
								</div>
							<br>
							</li>
						{% endfor %}
					</ul>
					<br><br>
					{% if other_needfuls_success %}
						<div class="alert alert-success">
							<strong>این نیازمند با موفقیت تایید شد.</strong>
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						<strong>نیازمند تایید نشده‌ای در سامانه وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
		{% if helpers_active %}
		<div role="tabpanel" class="tab-pane active" id="helpers">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="helpers">
		{% endif %}
		<h1> مددکاران</h1><br>
			<div class="col-sm-7">
				{% if helpers_num %}
					<ul class="list-group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for helper, num in helpers_num %}
							<li class="list-group-item">
								<div class="col-sm-10>"> {{helper.profile.user.username}} </div>
								<div class="col-sm-2">
									{{ num }}
{#									{% if num < min_needful %}#}
{#									{{ num }}#}
{#									{% else %}#}
{#									{{ num }}#}
{#									{% endif %}#}
								</div>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-warning">
						<strong>مددکاری در سانامه وجود ندارد.</strong>
					</div>
				{% endif %}
				<h3> حداقل تعداد نیازمند تحت حمایت یک مددکار: {{ min_helper }}</h3>
				<form action="{% url 'min_helper_change' %}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<input class="form-control" type="number" id="value" name="min_helper_value" >
						<button type="submit" class="btn btn-sm btn-default">تغییر حداقل</button>
					</div>
				</form>
				<br>
				{% if min_helper_change_success %}
					<div class="alert alert-success">
						<strong>تغییر حداقل با موفقیت انجام شد.</strong>
					</div>
					<br>
				{% endif %}
				{% if min_helper_change_failed%}
					<div class="alert alert-danger">
						<strong>خطا! </strong>لطفا یک عدد نامنفی وارد کنید.
					</div>
					<br>
				{% endif %}
			</div>
		</div>
		{% if register_active %}
		<div role="tabpanel" class="tab-pane active" id="register">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="register">
		{% endif %}
			<div class="col-sm-7">
				{% if register_success %}
					<div class="alert alert-success">
						<strong>ثبت نام کاربر با موفقیت انجام شد.</strong>
					</div>
				{% else %}
					<form id="register-form" class="form-horizontal" action="{% url 'register' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">پست الکترونیک</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" name="email" placeholder="email">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="username">نام کاربری</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="username" placeholder="نام کاربری">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">کلمه‌ی عبور</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="password" placeholder="کلمه‌ی عبور">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">تکرار کلمه‌ی عبور</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="password_repeat" placeholder="تکرار کلمه‌ی عبور">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-offset-3 radio-inline"><input type="radio" name="role" value="Needful">نیازمند</label>
							<label class="col-sm-offset-3 radio-inline"><input type="radio" name="role" value="Helper">مددکار</label>
							<label class="col-sm-offset-3 radio-inline"><input type="radio" name="role" value="Donor">همیار</label>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">ثبت نام</button>
							</div>
						</div>
					</form>
					{% if no_role or username_taken or unequal_passwords or form_not_valid %}
						<div class="alert alert-danger">
							<strong>خطا!</strong>
							{% if no_role %}
								نقش انتخاب نشده است.
								<br>
							{% endif %}
							{% if username_taken %}
								نام کاربری انخاب شده تکراری است.
								<br>
							{% endif %}
							{% if unequal_passwords%}
								کلمه‌ی عبور با تکرار آن همخوانی ندارد.
								<br>
							{% endif %}
							{% if form_not_valid %}
								لطفا همه‌ی قسمت‌ها را پر کنید.
								<br>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% if confirm_change_active %}
		<div role="tabpanel" class="tab-pane active" id="confirm_change">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="confirm_change">
		{% endif %}
			<h1>درخواست‌های تغییر مشخصات </h1><br>
			<div class="col-sm-12">
				<ul class="list-group">
					{% if changes %}
						{% for change in changes %}
							<li class="list-group-item">
								<div class="col-sm-2">{{ change.profile.user.username }}</div>
								<div class="col-sm-2">{{ change.first_name }}</div>
								<div class="col-sm-2">{{ change.last_name }}</div>
								<div class="col-sm-4">{{ change.bio }}</div>
								<div class="col-sm-2 form-group">
									<form  action="{% url 'confirm_change_info' %}" method="post">
										{% csrf_token %}
										<input type="hidden" name="id" value={{ change.id }}>
										<button type="submit" class="btn btn-xs btn-default">تایید</button>
									</form>
								</div>
							<br>
							</li>
						{% endfor %}
					{% else %}
						<div class="alert alert-warning">
							<strong>درخواست تغییر مشخصاتی وجود ندارد.</strong>
						</div>
					{% endif %}
					<br>
				</ul>
                {% if confirm_change_active %}
                    <div class="alert alert-success">
                        <strong>تایید درخواست با موفقیت انجام شد.</strong>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}