{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		{% if not your_needfuls_active and not other_needfuls_active and not credit_active %}
			<li class="active"><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% else %}
			<li><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% endif %}
		{% if credit_active %}
			<li class="active"><a href="#credit" role="tab" data-toggle="tab">اعتبار</a></li>
		{% else %}
			<li><a href="#credit" role="tab" data-toggle="tab">اعتبار</a></li>
		{% endif %}
		<li><a href="#money" role="tab" data-toggle="tab">وجوه پرداختی</a></li>
		{% if your_needfuls_active %}
			<li class="active"><a href="#yourNeedfuls" role="tab" data-toggle="tab"> نیازمندان تحت حمایت شما</a></li>
		{% else %}
			<li><a href="#yourNeedfuls" role="tab" data-toggle="tab"> نیازمندان تحت حمایت شما</a></li>
		{% endif %}
		{% if other_needfuls_active %}
			<li class="active"><a href="#otherNeedfuls" role="tab" data-toggle="tab">نیازمندان بدون حامی</a></li>
		{% else %}
			<li><a href="#otherNeedfuls" role="tab" data-toggle="tab">نیازمندان بدون حامی</a></li>
		{% endif %}
		<li><a class="text-danger" href={{ '../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		{% if not your_needfuls_active and not other_needfuls_active and not credit_active %}
			<div role="tabpanel" class="tab-pane active" id="info">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="info">
		{% endif %}
			<div class="well">
				<h4>اطلاعات</h4>
				<p>اسم</p>
			</div>
		</div>
		{% if credit_active %}
		<div role="tabpanel" class="tab-pane active" id="credit">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="credit">
		{% endif %}
			<br>
			<h1>اعتبار </h1><br>
			<h3> میزان اعتبار شما: {{ credit }}</h3> <br>
			<form action="{% url 'increase_credit' %}" method="post">
				{% csrf_token %}
				<div class="col-sm-7 form-group">
					<label for="value"> مقدار </label><input class="form-control" type="number" id="value" name="value" >
					<button type="submit" class="btn btn-sm btn-default">افزایش اعتبار</button>
				</div>
			</form>

			<form action="{% url 'donate' %}" method="post">
				{% csrf_token %}
				<div class="col-sm-7 form-group">
					<label for="value"> مقدار </label><input class="form-control" type="number" id="value" name="value" >
					<button type="submit" class="btn btn-sm btn-default">اهدا به سامانه</button>
				</div>
			</form>
			<br>
			{% if credit_success %}
				<div class="col-sm-7 alert alert-success">
					<strong>افزایش اعتبار با موفقیت انجام شد.</strong>
				</div>
				<br>
			{% endif %}
			{% if credit_failed or donation_failed%}
				<div class="col-sm-7 alert alert-danger">
					<strong>خطا</strong>لطفا یک عدد مثبت وارد کنید.
				</div>
				<br>
			{% endif %}
			{% if donation_success %}
				<div class="col-sm-7 alert alert-success">
					<strong>اهدا به سامانه با موفقیت انجام شد.</strong>
				</div>
				<br>
			{% endif %}
			{% if donation_not_enough %}
				<div class="col-sm-7 alert alert-danger">
					<strong>خطا</strong>اعتبار شما کافی نیست.
				</div>
				<br>
			{% endif %}
		</div>
		<div role="tabpanel" class="tab-pane" id="money">
			<br>
			<h1>گزارش وجوه پرداختی </h1><br>
			{% if payments %}
				<div class="table-responsive" style="height: 400px; overflow: scroll; overflow-x: hidden">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>مقدار</th>
								<th>توضیحات</th>
								<th>نام نیازمند</th>
								<th>تاریخ</th>
								<th>زمان</th>
							</tr>
						</thead>
						<tbody>
						{% for payment in payments %}
							<tr>
								<td >{{ payment.need.value }}</td>
								<td >{{ payment.need.desc }}</td>
								<td >{{ payment.need.needful.profile.user.username }}</td>
								<td >{{ payment.date|date }}</td>
								<td >{{ payment.date|time }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div class="col-sm-5 alert alert-warning">
					<strong>شما پرداختی انجام نداده‌اید.</strong>
				</div>
			{% endif %}
		</div>
		{% if your_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="yourNeedfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="yourNeedfuls">
		{% endif %}
		<br>
			<h1> نیازمندان تحت حمایت شما</h1><br>
			{% if yourNeedfuls %}
				<ul class="list_group col-sm-3" style="height: 400px; overflow: scroll; overflow-x: hidden">
					{% for needful in yourNeedfuls %}
					<li class="list_group_item"><a href="../donor_needful_info/{{needful.id}}/" >{{ needful.profile.user.username }} </a></li>
					{% endfor %}
				</ul>
			{% else %}
				<div class="col-sm-5 alert alert-warning">
					<strong>شما نیازمندی تحت حمایت خود ندارید.</strong>
				</div>
			{% endif %}
		</div>
		{% if other_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="otherNeedfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="otherNeedfuls">
		{% endif %}
			<div class="col-sm-5">
				<h1>نیازمندان بدون حامی</h1>
				<br>
				{% if otherNeedfuls %}
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								{% for needful in otherNeedfuls %}
									<tr>
										<td>{{ needful.profile.user.username }}</td>
										<td>
											<form action="{% url 'donor_needful_care' %}" method="post">
												{% csrf_token %}
												<div class="form-group">
													<input type="hidden" name="needful" value={{ needful.id }}>
													<button type="submit" class="btn btn-sm btn-default">تحت حمایت قراردادن</button>
												</div>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<br><br>
					{% if other_needfuls_success %}
						<div class="alert alert-success">
							<strong>این نیازمند با موفقیت تحت حمایت شما قرار داده شد.</strong>
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						<strong>نیازمند بدون حامی‌ای وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}