{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		<li><a href={{ '../../helper_view/#info'}}>مشخصات</a></li>
		<li><a href={{ '../../helper_view/#credit'}}>اعتبار</a></li>
		<li><a href={{ '../../helper_view/#money'}}>وجوه پرداختی</a></li>
		<li class="active"><a href={{ '../../helper_view/#yourNeedfuls'}} > نیازمندان تحت حمایت شما <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </a></li>
		<li><a href={{ '../../helper_view/#otherNeedfuls'}}>نیازمندان بدون حامی</a></li>
		<li><a class="text-danger" href={{ '../../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="yourNeedfuls">
		<br>
			<h1> نیازمندان تحت حمایت شما <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </h1>
			<div class="col-sm-7">
			<h3> نیازها </h3><br>
				<ul class="list-group" id="needs">
					{% if needs %}
						{% for need in needs %}
							<li class="list-group-item">
								<div class="col-sm-8">{{ need.desc }}</div>
								<div class="col-sm-2">{{ need.value }}</div>
								<div class="col-sm-1">
									{% if need.is_urgent %} <span class="glyphicon glyphicon-alert"></span>
									{% endif %}
								</div>
								<div class="col-sm-1">
									{% if need.done %} <span class="glyphicon glyphicon-ok"></span>
									{% else %}
									<div class="form-group">
										<form  action="{% url 'pay_need_donor' %}" method="post">
											{% csrf_token %}
											<input type="hidden" name="id" value={{ need.id }}>
											<button type="submit" class="btn btn-xs btn-default">پرداخت</button>
										</form>
									</div>
									{% endif %}
								</div>
							<br>
							</li>
						{% endfor %}
					{% else %}
						<div class="alert alert-warning">
							<strong>برای این نیازمند نیازی ثبت نشده است.</strong>
						</div>
					{% endif %}
				</ul>
                <br>
                {% if pay_failed %}
                    <div class="alert alert-danger">
                        <strong>خطا!</strong> موجودی شما برای پرداخت این نیاز کافی نیست.
                    </div>
                {% endif %}
                {% if pay_success %}
                    <div class="alert alert-success">
                        <strong>پزداخت نیاز با موفقیت انجام شد.</strong>
                    </div>
                {% endif %}
			</div>
			<div class="col-sm-7">
			<h3> موفقیت‌ها </h3><br>
				<ul class="list-group" id="success">
					{% if achievements %}
					{% for ach in achievements %}
						<li class="list-group-item">{{ ach.desc }}</li>
					{% endfor %}
					{% else %}
						<div class="alert alert-warning">
							<strong>برای این نیازمند موفقیتی ثبت نشده است.</strong>
						</div>
					{% endif %}
					<br>
				</ul>
			</div>
			<div class="col-sm-7">
			<h3> نامه‌های تشکر </h3><br>
				{% if letters_to_donor %}
				<ul class="list-group" id="thanks">
					{% for letter in letters_to_donor %}
					<li class="list-group-item"> {{ letter.context }}</li>
					{% endfor %}
				</ul>
				{% else %}
				<div class="alert alert-warning">
					<strong>نامه‌ی تشکری از این نیازمند برای شما وجود ندارد.</strong>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}