{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		{% if not your_needfuls_active and not other_needfuls_active %}
		<li class="active"><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% else %}
		<li><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% endif %}
		{% if your_needfuls_active %}
		<li class="active"><a href="#yourNeedfuls" role="tab" data-toggle="tab"> نیازمندان تحت حمایت شما</a></li>
		{% else %}
		<li><a href="#yourNeedfuls" role="tab" data-toggle="tab"> نیازمندان تحت حمایت شما</a></li>
		{% endif %}
		{% if other_needfuls_active %}
		<li class="active"><a href="#otherNeedfuls" role="tab" data-toggle="tab">نیازمندان بدون حامی</a></li>
		{% else %}
		<li><a href="#otherNeedfuls" role="tab" data-toggle="tab">نیازمندان بدون حامی</a></li>
		{% endif %}
		{% if register_active %}
			<li class="active"><a href="#register" role="tab" data-toggle="tab">ثبت‌نام نیازمند جدید</a></li>
		{% else %}
			<li><a href="#register" role="tab" data-toggle="tab"> ثبت‌نام نیازمند جدید</a></li>
		{% endif %}
		<li><a class="text-danger" href={{ '../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		{% if not your_needfuls_active and not other_needfuls_active %}
			<div role="tabpanel" class="tab-pane active" id="info">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="info">
		{% endif %}
			<div class="well">
				<h4>اطلاعات</h4>
				<p>اسم</p>
			</div>
		</div>
		{% if your_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="yourNeedfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="yourNeedfuls">
		{% endif %}
			<h1> نیازمندان تحت حمایت شما</h1><br>
			<div class="col-sm-7">
				{% if yourNeedfuls %}
					<ul class="list-group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for needful in yourNeedfuls %}
							<a href="../helper_needful_info/{{needful.id}}/" >
								<li class="list-group-item">
									<div class="col-sm-3">{{ needful.profile.user.username }} </div>
									<div class="col-sm-9">{{ needful.profile.bio }}</div>
									<br>
								</li>
							</a>
						{% endfor %}
					</ul>
				{% else %}
					<div class="alert alert-warning">
						<strong>شما نیازمندی تحت حمایت خود ندارید.</strong>
					</div>
				{% endif %}
			</div>
		</div>
		{% if other_needfuls_active %}
		<div role="tabpanel" class="tab-pane active" id="otherNeedfuls">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="otherNeedfuls">
		{% endif %}
			<h1>نیازمندان بدون حامی</h1><br>
			<div class="col-sm-7">
				{% if otherNeedfuls %}
					<ul class="list_group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for needful in otherNeedfuls %}
							<li class="list-group-item">
								<div class="col-sm-2"> {{ needful.profile.user.username }} </div>
								<div class="col-sm-8"> {{ needful.profile.bio}} </div>
								<div class="col-sm-2">
									<form action="{% url 'helper_needful_care' %}" method="post">
										{% csrf_token %}
										<div class="form-group">
											<input type="hidden" name="needful" value={{ needful.id }}>
											<button type="submit" class="btn btn-xs btn-default">تحت حمایت قراردادن</button>
										</div>
									</form>
								</div>
								<br>
							</li>
						{% endfor %}
					</ul>
					{% if other_needfuls_success %}
						<div class="alert alert-success">
							<strong>این نیازمند با موفقیت تحت حمایت شما قرار داده شد.</strong>
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						<strong>نیازمند بدون حامی‌ای وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
		{% if register_active %}
		<div role="tabpanel" class="tab-pane active" id="register">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="register">
		{% endif %}
			<div class="col-sm-7">
				{%  if register_success %}
					<div class="alert alert-success">
						<strong>ثبت نام نیازمند با موفقیت انجام شد.</strong>
					</div>
				{% else %}
					<form id="register-form" class="form-horizontal" action="{% url 'register' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">پست الکترونیک</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" name="email" placeholder="email">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="username">نام کاربری</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="username" placeholder="نام کاربری">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">کلمه‌ی عبور</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="password" placeholder="کلمه‌ی عبور">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">تکرار کلمه‌ی عبور</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="password_repeat" placeholder="تکرار کلمه‌ی عبور">
							</div>
						</div>
						<input type="hidden" name="role" value="Needful">
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">ثبت نام</button>
							</div>
						</div>
					</form>
					{% if username_taken or unequal_passwords or form_not_valid %}
						<div class="alert alert-danger">
							<strong>خطا!</strong>
							{% if username_taken %}
								نام کاربری انخاب شده تکراری است.
								<br>
							{% endif %}
							{% if unequal_passwords%}
								کلمه‌ی عبور با تکرار آن همخوانی ندارد
								<br>
							{% endif %}
							{% if form_not_valid %}
								لطفا همه‌ی قسمت‌ها را پر کنید.
								<br>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
	</div>
{% endblock %}