{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		<li class="active"><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		<li><a href="#money" role="tab" data-toggle="tab">وجوه پرداختی</a></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> درخواست <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#letter" role="tab" data-toggle="tab">نامه‌ی تشکر</a></li>
			<li><a href="#helperChange" role="tab" data-toggle="tab">تغییر مددکار</a></li>
			<li><a href="#needCare" role="tab" data-toggle="tab">رفع نیاز</a></li>
		</ul>
		</li>
	</ul><br>
{% endblock %}