{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		<li><a href={{ '../../helper_view/#info'}}>مشخصات</a></li>
		<li class="active"><a href={{ '../../helper_view/#yourNeedfuls'}} > نیازمندان تحت حمایت شما <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </a></li>
		<li><a href={{ '../../helper_view/#otherNeedfuls'}}>نیازمندان بدون حامی</a></li>
		<li><a href={{ '../../helper_view/#register'}}>ثبت‌نام نیازمند جدید</a></li>
		<li><a class="text-danger" href={{ '../../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}

{% block content %}
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="yourNeedfuls">
		<br>
			<h1> نیازمندان تحت حمایت شما <span class="glyphicon glyphicon-chevron-left"></span> {{ needful.profile.user.username }} </h1>
			<div class="col-sm-10">
			<h3> نیازها </h3><br>
				<ul class="list-group" id="needs">
					{% if needs %}
					{% for need in needs %}
						<span class="list-group-item">
							<div class="form-group">
								<form action="{% url 'helper_edit_need' %}" method="post">
									{% csrf_token %}
									<input type="hidden" name="id" value={{ need.id }}>
									<div class="col-sm-6"><input type="text" class="form-control" name="desc" value={{ need.desc }}></div>
									<div class="col-sm-2"><input type="text" class="form-control" name="value" value={{ need.value }}></div>

									<div class="col-sm-1 checkbox">
										{% if need.is_urgent %}
											<label><input type="checkbox" id="is_urgent" name="is_urgent" checked>فوری</label>
										{% else %}
											<label><input type="checkbox" id="is_urgent" name="is_urgent" >فوری</label>
										{% endif %}
									</div>
									<div class="col-sm-2 checkbox">
										{% if need.done %}
											<label><input type="checkbox" id="done" name="done" checked>انجام شده</label>
										{% else %}
											<label><input type="checkbox" id="done" name="done" >انجام شده</label>
										{% endif %}
									</div>
									<div class="col-sm-1"><button type="submit" class="btn btn-xs btn-default">اعمال ویرایش</button></div>
								</form>
							<br>
							</div>
						</span>

					{% endfor %}
					{% else %}
						<div class="alert alert-warning">
							<strong>برای این نیازمند نیازی ثبت نشده است.</strong>
						</div>
					{% endif %}
					<br>
					<div class="form-group">
						<form  action="{% url 'submit_need_helper' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="id" value={{ needful.id }}>
							<span class="list-group_item">
								<div class="col-sm-7"><label for="desc">شرح</label><input type="text" class="form-control" id="desc" name="need_desc"></div>
								<div class="col-sm-2"><label for="val">مقدار</label><input type="number" class="form-control" id="val" name="need_val"></div>
								<div class="col-sm-1 checkbox"><br><label><input type="checkbox" value="is_urgent" name="is_urgent">فوری</label></div>
								<div class="col-sm-2"><br><button type="submit" class="btn btn-default">ثبت نیاز</button></div>
							</span>
						</form>
					</div>
				</ul>
			</div>
			<div class="col-sm-7">
			<h3> موفقیت‌ها </h3><br>
			<div class="form-group">
				<form  action="{% url 'submit_achievement' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="id" value={{ needful.id }}>
					<ul class="list-group" id="success">
						{% if achievements %}
						{% for ach in achievements %}
							<li class="list-group-item">{{ ach.desc }}</li>
						{% endfor %}
						{% else %}
							<div class="alert alert-warning">
								<strong>برای این نیازمند موفقیتی ثبت نشده است.</strong>
							</div>
						{% endif %}
						<br>
						<span class="list-group_item">
							<div class="col-sm-10"> <input type="text" class="form-control" id="ach" name="achievement_submit"></div>
							<div class="col-sm-2"><button type="submit" class="btn btn-default">ثبت موفقیت</button></div>
						</span>
					</ul>
				</form>
			</div>
			</div>
			<div class="col-sm-7">
				<h3> نامه‌های تشکر </h3><br>
				{% if letters_to_helper %}
				<ul class="list-group" id="thanks">
					{% for letter in letters_to_helper %}
					<li class="list-group-item"> {{ letter.context }}</li>
					{% endfor %}
				</ul>
				{% else %}
				<div class="alert alert-warning">
					<strong>نامه‌ی تشکری از این نیازمند برای شما وجود ندارد.</strong>
				</div>
				{% endif %}
			</div>
			<div class="col-sm-7">
				<h3> نامه‌های در انتظار ارسال به همیار </h3><br>
				{% if letters_to_forward %}
					<ul class="list-group" id="thanks">
						{% for letter in letters_to_forward %}
							<li class="list-group-item col-sm-10"> {{ letter.context }}</li>
							<form action="{% url 'forward_letter' %}" method="post">
								{% csrf_token %}
								<div class="form-group">
									<input type="hidden" name="forward_letter" value={{ letter.id }}>
									<div class="col-sm-2"> <button type="submit" class="btn btn-sm btn-default">ارسال نامه به همیار</button></div>
								</div>
							</form>
						{% endfor %}
					</ul>
					<br>
				{% else %}
					<div class="alert alert-warning">
						<strong>نامه‌ی تشکری از این نیازمند برای ارسال به همیار وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}