{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		{% if not submit_letter_active and not helper_change_active and not need_care_active %}
		<li class="active"><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% else %}
		<li><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		{% endif %}
		<li><a href="#money" role="tab" data-toggle="tab">وجوه پرداختی</a></li>
		{% if submit_letter_active or helper_change_active or need_care_active %}
		<li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> درخواست <span class="caret"></span></a>
		{% else %}
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> درخواست <span class="caret"></span></a>
		{% endif %}
			<ul class="dropdown-menu">
				{% if submit_letter_active %}
					<li class="active"><a href="#letter" role="tab" data-toggle="tab">نامه‌ی تشکر</a></li>
				{% else %}
					<li><a href="#letter" role="tab" data-toggle="tab">نامه‌ی تشکر</a></li>
				{% endif %}
				{% if helper_change_active %}
					<li class="active"><a href="#helperChange" role="tab" data-toggle="tab">تغییر مددکار</a></li>
				{% else %}
					<li><a href="#helperChange" role="tab" data-toggle="tab">تغییر مددکار</a></li>
				{% endif %}
				{% if need_care_active %}
					<li class="active"><a href="#needCare" role="tab" data-toggle="tab">رفع نیاز</a></li>
				{%  else %}
					<li><a href="#needCare" role="tab" data-toggle="tab">رفع نیاز</a></li>
				{% endif %}
			</ul>
		</li>
		<li><a class="text-danger" href={{ '../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}
{% block content %}
	<div class="tab-content">
		{% if not submit_letter_active and not helper_change_active and not need_care_active %}
		<div role="tabpanel" class="tab-pane active" id="info">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="info">
		{% endif %}
			<div class="col-sm-7">
				<div class="form-group">
					<form class="form-horizontal" action="{% url 'change_info' %}" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label col-sm-2" for="first_name">نام</label>
							<input type="text" class="col-sm-10 form-control" name="first_name" id="first_name" value={{ profile.user.first_name }}>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="last_name">نام خانوادگی</label>
							<input type="text" class="col-sm-10 form-control" name="last_name" id="last_name" value={{ profile.user.last_name }}>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="bio">درباره‌ی شما</label>
							<textarea class="col-sm-10 form-control" rows="5" name="bio" id="bio"> {{ profile.bio }}</textarea>
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">درخواست تغییر مشخصات</button>
						</div>
					</form>
				</div>
				<br><br>
				{% if info_change_success %}
					<div class="alert alert-success">
						<strong>درخواست تغییر مشخصات شما با موفقیت در صف تایید قرار گرفت.</strong>
					</div>
				{% endif %}
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="money">
			<h1>گزارش وجوه پرداختی </h1><br>
			{% if payments %}
				<div class="table-responsive" style="height: 400px; overflow: scroll; overflow-x: hidden">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>مقدار</th>
								<th>توضیحات</th>
								<th>تاریخ</th>
								<th>زمان</th>
							</tr>
						</thead>
						<tbody>
						{% for payment in payments %}
							<tr>
								<td >{{ payment.need.value }}</td>
								<td >{{ payment.need.desc }}</td>
								<td >{{ payment.date|date }}</td>
								<td >{{ payment.date|time }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div class="alert alert-warning">
					<strong>پرداختی برای شما انجام نشده است.</strong>
				</div>
			{% endif %}
		</div>
		{% if submit_letter_active %}
		<div role="tabpanel" class="tab-pane active" id="letter">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="letter">
		{% endif %}
				<h1>نامه‌ی تشکر</h1><br>
				<div class="col-sm-7">
				<form action="{% url 'letter' %}" method="post">
					{% csrf_token %}
					<div class="input">
						<label for="receiver">گیرنده</label>
						<select class="form-control" id="receiver" name="receiver">
							<option value="Helper" id="Helper">مددکار</option>
							<option value="Donor" id="Donor">همیار</option>
						</select>
					</div>
					<br>
					<label for="description">متن</label>
					<textarea class="form-control" rows="5" id="description" name="txt"></textarea>
					<br>
					<div class="form-group">
						<button type="submit" class="btn btn-default">ارسال</button>
					</div>
				</form>
				<br>
				{% if submit_letter_success %}
				<div class="alert alert-success">
					<strong>نامه‌ی شما با موفقیت ارسال شد.</strong>
				</div>
				{% endif %}
				{% if submit_letter_failed %}
				<div class="alert alert-danger">
					<strong>خطا!</strong> متن نامه خالی است.
				</div>
				{% endif %}
			</div>
		</div>
		{% if helper_change_active %}
		<div role="tabpanel" class="tab-pane active" id="helperChange">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="helperChange">
		{% endif %}
				<h1>تغییر مددکار</h1>
				<br>
				<div class="col-sm-7">
				<form action="{% url 'helperChange' %}" method="post">
					{% csrf_token %}
					<div role="tabpanel" class="tab-pane">
						<label for="description">توضیحات</label>
						<textarea class="form-control" rows="5" id="description" name="description"></textarea>
						<br>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-default">ارسال</button>
						</div>
					</div>
				</form>
				<br><br>
				{% if helper_change_success %}
				<div class="alert alert-success">
					<strong>تقاضای تغییر مددکار شما با موفقیت ثبت شد.</strong>
				</div>
				{% endif %}
				{% if helper_change_failed %}
				<div class="alert alert-danger">
					<strong>خطا!</strong> متن توضیحات خالی است.
				</div>
				{% endif %}
			</div>
		</div>
		{% if need_care_active %}
		<div role="tabpanel" class="tab-pane active" id="needCare">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="needCare">
		{% endif %}
				<h1>رفع نیاز</h1>
				<br>
				<div class="col-sm-7">
				{% if needs %}
					<ul class="list_group" style="height: 400px; overflow: scroll; overflow-x: hidden">
						{% for need in needs %}
							<li class="list-group-item">
								<div class="col-sm-9"> {{ need.desc }} </div>
								<div class="col-sm-3">
									<form action="{% url 'needCare' %}" method="post">
										{% csrf_token %}
										<div class="form-group">
											<input type="hidden" name="need" value={{ need.id }}>
											<button type="submit" class="btn btn-xs btn-default">درخواست رفع نیاز</button></a>
										</div>
									</form>
								</div>
							<br>
							</li>
						{% endfor %}
					</ul>
					{% if need_care_success %}
						<div class="alert alert-success">
							<strong>درخواست رفع نیاز شما با موفقیت ثبت شد.</strong>
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						<strong>نیاز فوری نشده‌ای برای شما وجود ندارد.</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}