{% extends "./index.html" %}

{% block navigation %}
	<ul class="nav nav-tabs nav-pills nav-stacked">
		<li class="active"><a href="#info" role="tab" data-toggle="tab">مشخصات</a></li>
		<li><a href="#money" role="tab" data-toggle="tab">وجوه پرداختی</a></li>
		<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> درخواست <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="#letter" role="tab" data-toggle="tab">نامه‌ی تشکر</a></li>
			<li><a href="#helperChange" role="tab" data-toggle="tab">تغییر مددکار</a></li>
			<li><a href="#needCare" role="tab" data-toggle="tab">رفع نیاز</a></li>
		</ul>
		</li>
		<li><a class="text-danger" href={{ '../logout' }}>خروج از حساب کاربری</a></li>
	</ul><br>
{% endblock %}
{% block content %}
	<div class="tab-content">
		{% if not submit_letter_active and not helper_change_active and not need_care_active %}
		<div role="tabpanel" class="tab-pane active" id="info">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="info">
		{% endif %}
			<div class="well">
				<h4>اطلاعات</h4>
				<p>اسم</p>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="money">
			<br>
			<h1>گزارش وجوه پرداختی </h1><br>
			{% if payments %}
				<div class="table-responsive" style="height: 400px; overflow: scroll; overflow-x: hidden">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>مقدار</th>
								<th>توضیحات</th>
								<th>تاریخ</th>
								<th>زمان</th>
							</tr>
						</thead>
						<tbody>
						{% for payment in payments %}
							<tr>
								<td >{{ payment.need.value }}</td>
								<td >{{ payment.need.desc }}</td>
								<td >{{ payment.date|date }}</td>
								<td >{{ payment.date|time }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div class="col-sm-5 alert alert-warning">
					<strong>پرداختی برای شما انجام نشده است.</strong>
				</div>
			{% endif %}
		</div>
		{% if submit_letter_active %}
		<div role="tabpanel" class="tab-pane avtive" id="letter">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="letter">
		{% endif %}
			<div class="col-sm-5">
				<h1>نامه‌ی تشکر</h1>
				<br>
				<form action="{% url 'letter' %}" method="post">
					{% csrf_token %}
					<div class="input">
						<label for="receiver">گیرنده</label>
						<select class="form-control" id="receiver" name="receiver">
							<option value="Helper" id="Helper">مددکار</option>
							<option value="Donor" id="Donor">همیار</option>
						</select>
					</div>
					<br>
					<div role="tabpanel" class="tab-pane" id = "letter">
						<label for="description">متن</label>
						<textarea class="form-control" rows="5" id="description" name="txt"></textarea>
						<br>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-default">ارسال</button>
						</div>
					</div>
				</form>
				{% if submit_letter_success %}
				<div class="alert alert-success">
					<strong>نامه‌ی شما با موفقیت ثبت شد.</strong>
				</div>
				{% endif %}
				{% if submit_letter_failed %}
				<div class="alert alert-danger">
					<strong>خطا!</strong> متن نامه خالی است.
				</div>
				{% endif %}
			</div>

		</div>
		{% if helper_change_active %}
		<div role="tabpanel" class="tab-pane active" id="helperChange">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="helperChange">
		{% endif %}
			<div class="col-sm-5">
				<h1>تغییر مددکار</h1>
				<br>
				<form action="{% url 'helperChange' %}" method="post">
					{% csrf_token %}
					<div role="tabpanel" class="tab-pane">
						<label for="description">توضیحات</label>
						<textarea class="form-control" rows="5" id="description" name="description"></textarea>
						<br>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-default">ارسال</button>
						</div>
					</div>
				</form>
			</div>
			{% if helper_change_success %}
			<div class="alert alert-success">
				<strong>تقاضای تغییر مددکار شما با موفقیت ثبت شد.</strong>
			</div>
			{% endif %}
			{% if helper_change_failed %}
			<div class="alert alert-danger">
				<strong>خطا!</strong> متن توضیحات خالی است.
			</div>
			{% endif %}
		</div>
		{% if need_care_active %}
		<div role="tabpanel" class="tab-pane active" id="needCare">
		{% else %}
		<div role="tabpanel" class="tab-pane" id="needCare">
		{% endif %}
			<div class="col-sm-5">
				<h1>رفع نیاز</h1>
				<br>
				{% if needs %}
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								{% for need in needs %}
									<tr>
										<td>{{ need.desc }}</td>
										<td>
											<form action="{% url 'needCare' %}" method="post">
												<div class="form-group">
													<input type="hidden" name="need" value={{ need.id }}>
													<button type="submit" class="btn btn-sm btn-default">درخواست رفع نیاز</button></a>
												</div>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% if need_care_success %}
						<div class="alert alert-success">
							<strong>درخواست رفع نیاز شما با موفقیت ثبت شد.</strong>
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						<strong>نیازی برای شما تعریف نشده است.</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}